* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Segoe UI", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.calculator {
  background-color: #2d2f33;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  padding: 25px;
  /* width: 320px; */
  border-radius: 30px;
  #display {
    width: 100%;
    padding: 20px;
    height: 60px;
    border-radius: 15px;
    margin-bottom: 20px;
    text-align: right;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 24px;
    /* outline: none; */
  }
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    button {
    padding: 20px;
  font-size: 18px;
  border: none;
  border-radius: 15px;
  background-color: #e5e5e5;
  color: #000;
  cursor: pointer;
  transition: 0.2s ease;

    }
  }
}

button:hover {
  background-color: #d4d4d4;
}

button:active {
  transform: scale(0.96);
}

#clear {
  background-color: #ff4d4f;
  color: #fff;
}

#equal {
  background-color: #34c759;
  color: #fff;
}



